html, body {
    margin: 0 ;
    padding: 0;
    border: 0;
}
.css-56b7pd{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.css-1qkljil{
    margin-top: 0 !important;

}
[data-toolpad-color-scheme="dark"] {
  --mui-palette-text-primary: #e0e0e0;
  --mui-palette-text-secondary: #bbbbbb;
}